<div class="nav-wrap animated fadeInDown">
    <div class="tel-me visible-lg visible-md">热线电话: 029-812345678</div>
    <div class="container nav-home">
      <div class="row">
        <div class="logo-box col-md-4 col-sm-10 col-xs-8">
          <%= background_img_tag @company.logo, class: 'logo' %>
        </div>

         <div class=" btn-x hidden-md hidden-lg col-md-8 col-sm-2 col-xs-4">
           <span id="btn-close" class="open">
             <i></i>
           </span>
         </div>
        <ul class="right col-md-8 col-sm-12 visible-md visible-lg">

          <li class="animated zoomIn ">
          <%= active_link_to  root_path, active: :exact  do %>
            <div>首页</div>
            <span>Home</span>
          <% end %>
        </li>
        <li class="animated zoomIn">
          <%= active_link_to about_us_path,active: :inclusive  do%>
          <div>关于我们</div>
           <span>About us</span>
          <% end %>
        </li>
        <li class="animated zoomIn">
          <%= active_link_to enterprise_dynamics_path,active: :inclusive  do%>
            <div>企业动态</div>
            <span>News</span>
          <% end %>
        </li>
        <li class="animated zoomIn ">
          <%= active_link_to goods_path,active: :inclusive  do%>
            <div>产品详情</div>
             <span>Product</span>
          <% end  %>
        </li>
        <li class="animated zoomIn ">
          <%= active_link_to offers_path,active: :inclusive  do%>
            <div>招聘信息</div>
            <span>Recruit</span>
          <% end %>
        </li>
        <li class="animated zoomIn ">
          <%= active_link_to contact_us_path,active: :inclusive  do%>
            <div>联系我们</div>
            <span>Contact us</span>
          <% end %>
        </li>
      </ul>
      </div>
    </div>
</div>

