<nav class="main-nav navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '首页' %></li>
        <li><%= link_to '企业动态' %></li>
        <li><%= link_to '产品详情', goods_path %></li>
        <li><%= link_to '招聘信息', offers_path %></li>
        <li><%= link_to '联系我们' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>