<div class="nav-wrap animated fadeInDown">
    <div class="container nav-home">
      <div class="logo-box">
        <%= background_img_tag @company.logo, class: 'logo' %>
      </div>

      <ul class="right visible-lg visible-md">
        <li class="animated zoomIn">
          <%= active_link_to  root_path, active: :exact  do %>
            <div>首页</div>
            <span>home</span>
          <% end %>
        </li>
        <li class="animated zoomIn">
          <%= active_link_to about_us_path,active: :exact do%>
          <div>关于我们</div>
           <span>About us</span>
          <% end %>
        </li>
        <li class="animated zoomIn">
          <%= active_link_to enterprise_dynamics_path,active: :exact  do%>
            <div>企业动态</div>
            <span>News</span>
          <% end %>
        </li>
        <li class="animated zoomIn">
          <%= active_link_to goods_path, active: :exact do%>
            <div>产品详情</div>
             <span>Product</span>
          <% end  %>
        </li>
        <li class="animated zoomIn">
          <%= active_link_to offers_path, active: :exact do%>
            <div>招聘信息</div>
            <span>Recruit</span>
          <% end %>
        </li>
        <li class="animated zoomIn">
          <%= active_link_to contact_us_path,active: :exact do%>
            <div>联系我们</div>
            <span>Contact us</span>
          <% end %>
        </li>
      </ul>
    </div>
</div>

