<%= render 'banner' %>
<div class="content-box">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 left-bar">
        <ul>
          <li class="visible-lg visible-md">联系我们</li>
          <li class="col-md-12 col-sm-4 col-xs-4">
            <%= active_link_to contact_us_path,active: :exact  do %>
                <span>联系我们</span>
                <span class="bkg"></span>
            <% end %>
          </li>
          <li class="col-md-12 col-sm-4 col-xs-4">
            <%= active_link_to contact_us_path(state: 'network'),active: :exact  do %>
                <span>市场网络</span>
                <span class="bkg"></span>
            <% end %>
          </li>
          <li class="col-md-12 col-sm-4 col-xs-4">
            <%= active_link_to contact_us_path(state: 'service'),active: :exact  do %>
                <span>服务中心</span>
                <span class="bkg"></span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-12 right-content">
        <%= render 'content' %>
      </div>
    </div>
  </div>
</div>
